/*start of body*/

body {
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  /*padding-bottom: 10vh;*/
  background-color: white;
  align-items: baseline;
  margin-bottom: auto;
}

html {
  height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #00008B;
  font-family: 'IBM Plex Serif';
  margin-top: 0vh;
  margin-bottom: 6vh;
}

img {
  font-size: 3vw;
  line-height: 3.5vw;
}

video {
  display: block;
  margin: 0 auto;
  margin-left: -5vw;
}

button {
  font-size: 13px;
  border-radius: 6px;
  width: auto;
  height: 25px;
  display:relative;
  top:0vw;
  /*margin-top: vh;*/
  margin-bottom: 4vh;
  text-align: center;
  /*border: 2px solid #00008B;*/
  background: #00008B;
  /*background: none;*/
  color: white;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border: none;
}

pre {
  padding-left: 15%;
  padding-right: 5%;
  width: 100%;
  margin-top: -2vh;

}

.trigger {
  font-size: 26px;
  font-weight: bold;
  color: #00008B;
  /*color: black;*/
  padding: 0px;
  text-align: left;
  /*margin-left: 5vw;*/
  font-family: 'IBM Plex Serif';
  margin-bottom: 5px;
}

.footnote {
  align-items: center;
  width: 75%;
  font-size: 12px;
  line-height: 13px;;
  padding-top: 2%;
    /*margin-top: 100px solid black;*/
}

.footnotes {
  background-color: white;
  z-index: 1;
  padding-bottom: 13px;
  padding-left: 9vw;
  position: fixed;
  bottom: 0;
  left: 4vw;
  margin: 0;
  overflow: scroll;
  height: 8%;
  align-items: center;
}

.robot {
  background: #000080;
  /*margin-left: 5%;*/
  font-size: 11px;
  padding-left: -1vw;
  padding-right: -1vw;
  padding-top: 1px;
  /*margin-left: -1vw;*/
  /*width: 100%;*/
}


.human {
  font-family: 'IBM Plex Sans';
  color: black;
}

.text {
  font-size: 12px;
  line-height: 20px;
  margin-top: 1vw;
  margin-bottom: 3vh;
  margin-left: -4vw;
  text-align: left;
  width: 100%;
}

.term {
  font-size: 10px;
  line-height: 2px;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 8vh;
}

.html-class {
  margin-left: -15vw;
  width: 1050px;
  font-size: ;
}

.CharOverride-13 {
  font-style: italic;
  color: black;
}

/*.row {
  text-align: center;
}*/

.sliding-panel {
  position: fixed;
  width: 20px;
  height: 100%;
  /*border: 15px solid black;*/
  background: #00008B;
  z-index: 1;
}

.story {
  /*visibility: hidden;*/
  margin: 30px;
  font-size: 12px;
  /*font-family: Times;*/
}

.panel-container {
  position: absolute;
  z-index: 10;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 250px;
  font-size: 20px;
  color: #fff;
  line-height: 37px;
  text-align: center;
  background: #00008B;
  border: 1px solid white;
}

.image {
  transition: all 2s;
  width: 30%;
}

.description {
  font-size: 10px;
  line-height: 11px;
}

.large {
  width: 95%;
}

#right {
  position: fixed;
  top: 5vh;
  left: 88%;
}

#sub {
  font-size: 20px;
  padding-left: 2vw;
}

#left {
  position: fixed;
  top: 80vh;
  left: 0.5vw;
}

#left-door {
  color: white;
  overflow: scroll;
  top: 0;
  left: 0;
  padding: 10px;
  border: none;
}

#right-door {
  color: white;
  overflow: scroll;
  top: 0;
  right: 0;
  padding: 10px;
}

#content {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15%;
  padding-left: 10px;
  margin-left: 20%;
  /*margin-top: 85%;*/
  width: 80%;
}

.red {
  color: orange;
}

@media (min-width: 200px) and (max-width: 600px) {
  .trigger {
    font-size: 14px;
    /*letter-spacing: -1px;*/
  }

  #sub{
    font-size: 14px;
  }

  .text {
    font-size: 15px;
    line-height: 20px;
  }
  .story {
    margin: 10px;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  #content {
    text-align: left;
    padding-top: 10px;
    /*padding-left: 10px;*/
    /*margin-right: -10vw;*/
    margin-left: 15%;
    margin-top: 3vw;
    width: 85%;
  }
